@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
margin:0;
padding:0;
}


/* Font family for the logo "Russo One" */

.bigContainer{
    display:flex;
    width: 100vw;
    height:100vh;
}

.firstContainer{
    width:35%;
    height:100%;
    background: no-repeat url(randy-tarampi-U2eUlPEKIgU-unsplash\(1\).jpg);
    background-size:100% 100%;
    position:relative;
}

.secondContainer{
    width: 65%;
    height:100%;
    background-color: rgb(175, 135, 212);
}

form{
    width:100%;
    height:100%;
}

.message{
    width:100%;
    height:calc(100%/3);
    background-color: brown;
}

.form{
    width:100%;
    height:calc(100%/3);
    background-color: rgb(179, 106, 106);
}

.action{
    width:100%;
    height:calc(100%/3);
    background-color: rgb(63, 48, 48);
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background-color: rgba(17, 16, 16, 0.5);
    font-family:"Russo One",Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 3rem;
    color: rgb(172, 52, 52);
    position:absolute;
    top:32%;
    width: 100%;
    text-align: center;
}

.logo img{
    height:5rem;
    width:auto;
}