@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
margin:0;
padding:0;
font-size: 20px;
box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.bigContainer{
    display:flex;
    width: 100vw;
    height:100vh;
}

.firstContainer{
    width:35%;
    height:100%;
    background: no-repeat url(randy-tarampi-U2eUlPEKIgU-unsplash\(1\).jpg);
    background-size:100% 100%;
    position:relative;
}

.secondContainer{
    width: 65%;
    height:100%;
    background-color: rgb(199, 191, 206);
}

form{
    width:100%;
    height:100%;
}

.message{
    width:100%;
    height:calc(100%/3);
    background-color: brown;
}

.form{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding-top: 1rem;
    width:100%;
    height:calc(100%/3);
    
    
}

.action{
    width:100%;
    height:calc(100%/3);
    background-color: rgb(63, 48, 48);
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background-color: rgba(17, 16, 16, 0.5);
    font-family:"Russo One",Verdana, Geneva, Tahoma, sans-serif ;
    
    color: rgb(172, 52, 52);
    position:absolute;
    top:32%;
    width: 100%;
    text-align: center;
}

.logo h2{
    font-size: 2.5rem;
}
.logo img{
    height:5rem;
    width:auto;
}

.message{
    display:flex;
    flex-direction: column;
    justify-content: end;
    gap:1rem;
    padding-bottom: 2rem;
    background-color: rgb(255, 255, 255);
}

fieldset{
    width:40%; /* this prevent the the input to use all the widht  */
    border:none; /* this will remove the akward border */
    display:flex;
    flex-direction: column;
    gap:0.2rem;
}

.field{
    display:flex;
    gap:4rem;
    
}

.focus:focus{
    border-color: cyan;
    box-shadow: 5px 5px 2px 2px rgb(63, 48, 48);
}

.error:focus{
    border-color: red;
}

a{
    list-style-image: none;
}

/* remove anchor style */
a:link {
    text-decoration: none;
    color: inherit;
    
} 

a:visited {
    text-decoration:none;
    color: inherit;   
}

a[href]{
    color:green;
}

.action{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding-top:2.5rem;
    background-color: white;
 }

 .action button{
     width:20%;
     stroke: none;
     border: 1px solid green ;
     background-color: green;
     border-radius: 30px;
     flex-grow:0;
     flex-shrink:0;
 }

 /* add padding to all elements inside the second container */

 .field, .message, .action, h3 {
     padding-left:2.5rem;
 }