
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root{
    --main-font: 'Redressed', cursive;
    --second-font: 'Russo One', sans-serif;
    --main-size: 1.2rem;
    --main-color: rgb(248, 248, 248);
    --second-color: rgb(237, 237, 237);
    --button-color:rgb(45, 170, 45);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: var(--main-font);
	vertical-align: baseline;
}

*{
    margin:0;
    padding:0;
    font-size: var(--main-size);
    box-sizing: border-box;
    font-family: var(--main-font);
    }


input{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-color:  rgb(196, 196, 196) ;

}

.bigContainer{
    display:flex;
    width: 100vw;
    height:100vh;
}

.firstContainer{
    width:35%;
    height:100%;
    background: no-repeat url(randy-tarampi-U2eUlPEKIgU-unsplash\(1\).jpg);
    background-size:100% 100%;
    position:relative;
}

.secondContainer{
    width: 65%;
    height:100%;
    background-color: var(--main-color);
}

form{
    width:100%;
    height:100%;
}

.message{
    width:100%;
    height:calc(100%/3);
    
}

.form{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding-top: 1rem;
    width:100%;
    height:calc(100%/3);
    background-color: var(--second-color);
    
    
}

.action{
    width:100%;
    height:calc(100%/3);
   
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background-color: rgba(17, 16, 16, 0.5);
    font-family:var(--second-font);
    
    color: rgb(172, 52, 52);
    position:absolute;
    top:32%;
    width: 100%;
    text-align: center;
}

.logo h2{
    font-size: 2.5rem;
}

.logo img{
    height:5rem;
    width:auto;
}

.message{
    display:flex;
    flex-direction: column;
    justify-content: end;
    gap:1rem;
    padding-bottom: 2rem;
    
}

.field div{
    width:40%; /* this prevent the the input to use all the widht  */
    border:none; /* this will remove the akward border */
    display:flex;
    flex-direction: column;
    gap:0.2rem;
}

.field{
    display:flex;
    gap:4rem;
    
}

.focus:focus{
    border-color: cyan;
    box-shadow: 2px 2px 10px 1px rgb(63, 48, 48);
}

.error:focus{
    border-color: red;
}

a{
    list-style-image: none;
}

/* remove anchor style */
a:link {
    text-decoration: none;
    color: inherit;
    
} 

a:visited {
    text-decoration:none;
    color: inherit;   
}

a[href]{
    color:green;
    font-weight: 700;
}

.action{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding-top:2.5rem;
   
 }

 .action button{
     width:20%;
     stroke: none;
     border: 1px solid var(--button-color) ;
     background-color: var(--button-color);
     border-radius: 30px;
     flex-grow:0;
     flex-shrink:0;
 }

 /* add padding to all elements inside the second container */

 .field, .message, .action, h3 {
     padding-left:2.5rem;
 }

input{
    border-radius: 7px;
}